doctype html
html
  head
    title= title
    link(rel='stylesheet', href="javascripts/pure-min.css")
    link(rel="stylesheet" href="javascripts/grids-responsive-min.css")
    //link(rel="stylesheet" href="stylesheets/style.css")
    script(src="javascripts/underscore-min.js")
    
    script(src="javascripts/anypalette.js")

    script(src="javascripts/deltae.global.min.js")
    script(src="javascripts/d3-color.js")
    
    script(src="javascripts/main.js")
    meta(name="viewport" content="width=device-width, initial-scale=1")

body
  div(class="pure-g" style="margin-left: 2em")
    div(class="pure-u-1")
      h1= title
      p Upload an image and palette below and click "start".  Processing may take a while, especially for larger palettes, but please be patient.
    div(class="pure-u-1-2")
      canvas(id="image_before" class="pure-img" style="margin: 1em")
    //div(class="container")
      //div(class="loader")
    div(class="pure-u-1-2")
      canvas(id="image_after" class="pure-img" style="margin: 1em")
    div(class="pure-u-1")
      canvas(id="palette_display" class="pure-img")
    div(class="pure-u-lg-1-3")
     p(class="pure-u-1") Upload an image
     input(type="file", name="img", id="uploadImage")
    div(class="pure-u-lg-1-6")
     p(class="pure-u-1") Upload a palette
     input(type="file", name="ase", id="uploadPalette")
    div(class="pure-u-lg-1-6")
     p(class="pure-u-1") Click here to begin.
     button(class="pure-u-1" type="button" class="pure-button") start
    div(class="pure-u-1")
     form(class="pure-form")
      p Check here for dithering: 
        input(type="checkbox" onchange="dithering = this.checked")
